/* styles.css */
body {
    background-color: #bde9c8;
}

.nav-Text {
    color: white;
}

/* Center the navigation items horizontally */
.navbar-nav {
    display: flex;
    justify-content: center;
}

/* Style for the login button */
.signinbtn {
    background: linear-gradient(to right, #44c767, #5cbf2a);
    border-radius: 28px;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: auto;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    margin: 0;
}

.login-container {
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

h2 {
    color: #00ff00;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.forgot-password {
    display: block;
    margin-bottom: 15px;
    color: #00ff00;
    text-decoration: none;
}

.btn-login {
    background-color: #00ff00;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.create-account {
    color: #00ff00;
    text-decoration: none;
    display: block;
    margin: 15px 0;
}

.social-login a {
    margin: 0 10px;
}

.social-login img {
    width: 30px;
    height: 30px;
}
